@model KSA.LinkedAcademia.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Univirsety)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Univirsety.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
