@model KSA.LinkedAcademia.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTeacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTeacher)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
